# Built application files
*.apk

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle build files
.gradle/
build/
release/

# Local configuration file (sdk path, etc)
local.properties

#intellij project files
*.iml
*.idea
*.aab
core/src/main/assets/sprites/huntress-f-alt.png
core/src/main/assets/sprites/mage-f-alt.png
core/src/main/assets/sprites/rogue-f-alt.png
core/src/main/assets/sprites/warrior-f-alt.png
android/debug/output.json
.DS_Store
